# Node (Frontend)
frontend/node_modules/
frontend/dist/
.eslintcache

# Python (Backend)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Base de datos vectorial y temporales
vector_data/
temp_*.pdf

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Ignorar caché del modelo de IA local
backend/model_cache/
model_cache/

# Ignorar base de datos local de feedback
backend/feedback.db
*.db